* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: #151515;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
}

.profile-images {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 5px;
  cursor: pointer;
  will-change: width, height;
}

.img img {
  border-radius: 0.5rem;
}

.profile-names {
  width: 100%;
  height: 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
}

.name h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  color: #f7f7f7;
  user-select: none;
  transform: translateY(100%);
}

.name.default h2 {
  color: #e3e3db;
  transform: translateY(-100%);
}

.name h2 .letter {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}

@media screen and (max-width: 900px) {
  .team {
    flex-direction: column-reverse;
  }

  .profile-images {
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
  }

  .img {
    width: 60px;
    height: 60px;
    padding: 2.5px;
  }

  .profile-names {
    height: 4rem;
  }

  .name h2 {
    font-size: 4rem;
    letter-spacing: 0;
  }
}
